*.lnk
*.sublime-project
*.sublime-workspace
node_modules/*
/node_modules/*
nodemon.json
npm-debug.log
sftp-config.json
coverage
index.html

# Ignore all dotfiles...
.*

# except for .gitignore
!.gitignore
!.openshift